fastapi
uvicorn
opencv-python
pillow
numpy
pytesseract
easyocr
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pymupdf
reportlab
python-dotenv
pydantic[email]
python-logging-loki
pydantic-settings
ruff
black
